<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置Bean -->
	<bean id="helloWorld" class="com.example.demo.entity.HelloWorld">
		<!-- 属性注入 -->
		<property name="name" value="Spring"></property>
	</bean>
	<!-- 通过构造方法配置bean的属性 -->
	<bean id="car" class="com.example.demo.entity.Car">
		<constructor-arg value="Audi"></constructor-arg>
		<constructor-arg value="Germany"></constructor-arg>
		<constructor-arg value="1111"></constructor-arg>
	</bean>
</beans>
